<header>
    <div class="header">
        <div class="header-content">
            <div class="logo">
                <img src="../../assets/Images/logo.png" alt="logo">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Protfoli</a></li>
                    <li><a href="">Hire Resource</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Resources</a></li>
                </ul>
            </div>
            <div class="header-btn">
                <a href="">Contact Us</a>
                
            </div>
        </div>
    </div>
</header>