/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;*/
body{
    font-family: 'Montserrat', sans-serif;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}
.nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav ul li{
    display: inline-block;
    padding:0 20px;
}

.nav ul li a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
}
.nav ul li a:hover{
    opacity: .5;
}
.header-btn{
    max-width: 200px;
    width: 100%;
}

.header-btn a{
    border: solid 2px #fff;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-out;
}
.header-btn a:hover{
    background-color: #fff;
    color: #000000;
}
